---
title: Index
language: English
lang: en
ref: index
layout: default
---

<header>
	<h1>{{ site.en.tagline }}</h1>
	<h5>{{ site.en.description }}</h5>
</header>

<section id="frontpage" class="tiles">
		<article class="style7">
			<span class="image">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
			</span>
			<a href="http://schoolofdata.ch">
				<i class="fa fa-commenting" aria-hidden="true"></i>
				<h2>About</h2>
			</a>
		</article>
		<article class="style7">
			<span class="image">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
			</span>
			<a href="#contact">
				<i class="fa fa-cubes" aria-hidden="true"></i>
				<h2>Contribute</h2>
			</a>
		</article>
		<article class="style7">
			<span class="image">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
			</span>
			<a href="http://toolbox.schoolofdata.ch">
				<i class="fa fa-wrench" aria-hidden="true"></i>
				<h2>Toolbox</h2>
			</a>
		</article>
</section>

<a name="main"></a>
<h1>Latest Reviews</h1>
<section id="main" class="toolbox">
{% for post in site.posts %}
	<span class="image">
		{% if post.image contains '://' %}
		<img src="{{ post.image }}" />
		{% elsif post.image %}
		<img src="{{ site.baseurl }}/{{ post.image }}" />
		{% else %}
		<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
		{% endif %}
	</span>
	<a href="{{ post.url }}">
		<h3>
			{{ post.title }}
		</h3>
		<div class="content">
			<p>{{ post.tagline }}</p>
		</div>
	</a><br clear="all">
{% endfor %}
</section>

<a name="contact"></a>
<section class="contact" id="contact">
	<h2>{{ site.en.signup.title }}</h2>
	<p>{{ site.en.signup.header }}</p>
	<form method="post" action="https://utou.ch/scoda.php">
		<div class="row uniform">
			<div class="6u 12u$(xsmall)">
				<input type="text" name="NAME" id="signup-name" value="" placeholder="{{ site.en.signup.name }}" required />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="EMAIL" id="signup-email" value="" placeholder="{{ site.en.signup.email }}" required />
			</div>
			<div class="12u$">
				<textarea name="COMMENT" id="signup-message" placeholder="{{ site.en.signup.comment }}" rows="6" required></textarea>
			</div>
			<div class="6u$ select-wrapper">
				<select name="SKILL" id="signup-category">
					<option value="">{{ site.en.signup.type }}</option>
					{% for typ in site.en.signup.types %}
						<option>{{ typ }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="12u$">
				<div class="g-recaptcha" data-sitekey="{{ site.grecaptcha.key }}"></div>
				<input type="hidden" name="lang" value="" />
				<ul class="actions">
					<li><input type="submit" value="{{ site.en.signup.send }}" class="special" /></li>
				</ul>
			</div>
		</div>
	</form>
</section>
