---
title: Data Toolbox
language: Deutsch
lang: de
ref: index
layout: default
---

<header>
	<h1>{{ site.de.tagline }}</h1>
	<h5>{{ site.de.description }}</h5>
</header>

<section id="frontpage" class="tiles">

		<article class="style7">
			<span class="image">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
			</span>
			<a href="#tools">
				<i class="fa fa-wrench" aria-hidden="true"></i>
				<h2>Tools</h2>
			</a>
		</article>
		<article class="style7">
			<span class="image">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
			</span>
			<a href="#categories">
				<i class="fa fa-cubes" aria-hidden="true"></i>
				<h2>Steps</h2>
			</a>
		</article>
		<article class="style7">
			<span class="image">
				<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
			</span>
			<a href="overview.html">
				<i class="fa fa-commenting" aria-hidden="true"></i>
				<h2>Infos</h2>
			</a>
		</article>
</section>

<a name="tools"></a>
<hr><h1>Tools</h1>
<section id="toolbox" class="toolbox">
{% for tool in site.posts reversed %}
	<span class="image">
		{% if tool.image contains '://' %}
		<img src="{{ tool.image }}" />
		{% elsif tool.image %}
		<img src="{{ site.baseurl }}/{{ tool.image }}" />
		{% else %}
		<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" />
		{% endif %}
	</span>
	<a href="{{ tool.url }}">
		<h3>
			{{ tool.title }}
			<span class="categories">
				{% for cat in site.de.toolbox.categories %}
					{% if tool.categories contains cat.name %}
					<a title="{{ cat.title }}" href="#cat{{ cat.name }}"
						 class="pipeline cat-{{ cat.name }}">
						<span>{{ cat.name }}</span>
					</a>
					{% endif %}
				{% endfor %}
			</span>
		</h3>
		<div class="content">
			<p>{{ tool.tagline }}</p>
		</div>
	</a><br clear="all">
{% endfor %}
</section>

<a name="categories"></a>
<hr><h1>Steps</h1>
{% for cat in site.de.toolbox.categories %}
<section class="toolbox" id="cat{{ cat.name }}">
	<a name="{{ cat.name }}"></a>
	<div class="part{{ forloop.index }}">
		<span class="pipeline cat-{{ cat.name }}"></span>
		<h2>{{ cat.title }}</h2>
		<p class="subtitle">{{ cat.info }}</p>
	</div>
</section>
{% endfor %}

<a name="contact"></a>
<hr>
<section class="contact" id="contact">
	<h2>{{ site.de.signup.title }}</h2>
	<p>{{ site.de.signup.header }}</p>
	<form method="post" action="https://utou.ch/scoda.php">
		<div class="row uniform">
			<div class="6u 12u$(xsmall)">
				<input type="text" name="NAME" id="signup-name" value="" placeholder="{{ site.de.signup.name }}" required />
			</div>
			<div class="6u$ 12u$(xsmall)">
				<input type="email" name="EMAIL" id="signup-email" value="" placeholder="{{ site.de.signup.email }}" required />
			</div>
			<div class="12u$">
				<textarea name="COMMENT" id="signup-message" placeholder="{{ site.de.signup.comment }}" rows="6" required></textarea>
			</div>
			<div class="6u$ select-wrapper">
				<select name="SKILL" id="signup-category">
					<option value="">{{ site.de.signup.skills }}</option>
					<option value="Beginner">{{ site.de.signup.beginner }}</option>
					<option value="Intermediate">{{ site.de.signup.intermediate }}</option>
					<option value="Advanced">{{ site.de.signup.advanced }}</option>
					<option value="Expert">{{ site.de.signup.expert }}</option>
				</select>
			</div>
			<div class="12u$">
				<div class="g-recaptcha" data-sitekey="{{ site.grecaptcha.key }}"></div>
				<input type="hidden" name="lang" value="" />
				<ul class="actions">
					<li><input type="submit" value="{{ site.de.signup.send }}" class="special" /></li>
				</ul>
			</div>
		</div>
	</form>
</section>

<a class="github-button" href="https://github.com/schoolofdata-ch/toolbox" data-icon="octicon-star" data-size="large" aria-label="Star schoolofdata-ch/toolbox on GitHub">Star</a>
<script async defer src="https://buttons.github.io/buttons.js"></script>
