.tiles .fa {
  font-size: 42px;
  color: inherit;
}

.toolbox {
  article {
    h2 { margin-bottom: 0; }
    .subtitle { margin-top: 0; }
  }

  .image {
    float: left;
    margin-right: 2em;
    margin-bottom: 2em;
    img {
      width: 150px;
      clear: both;
    }
  }
}
